h1{
    text-align: center;
    color: brown;
}
p{
    color: blue;
}
body
{
background-color: bisque;
}
h2
{
    text-align: center;
    color: brown;
}
legend
{
    color: blue;
}
select
{
    color: blueviolet;
}